<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>

    <dds-navbar nav-title="Frame" nav-fixed="top">
        <dds-navbar-item item-link="https://devent.kr">devent.kr</dds-navbar-item>
    </dds-navbar>


    <dds-header 
        header-title="더 모던하고 깔끔한 게시판의 세계로"
        header-sub-title="Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit!">
        
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" id="login_box">
            <button class="btn btn-blue font-weight-md btn-lg px-4 btn-rounded" onclick="location.href = '/auth/signup'"><i class="fas fa-user-plus"></i> 가입</button>
            <button class="btn btn-light font-weight-md btn-lg px-4 me-sm-3 btn-rounded" onclick="location.href = '/auth/login'"><i class="fas fa-sign-in-alt"></i> 로그인</button>
        </div>
    </dds-header>




    
    <section class="py-5" id="features">
        <div class="container-fluid px-4 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Feed </h2>

                    <div class="mb-3">
                        <textarea class="form-control form-textarea color-gray-100" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-blue" onclick="appendFeeeeeeeeeeed()">피드 작성</button>
                    </div>

                    <pre id="logs" style="white-space: pre-wrap;">

                    </pre>
                </div>
                <div class="col-lg-3">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Featured title</h2>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                    <a class="text-decoration-none" href="#!">
                        Call to action
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>


    
                                
    <dds-footer
        project-title="DeVent Frame"
        sub-title="데벤트"
        company-name="사업자등록번호 : 429-52-00535 | 대표: 허형준"
        project-email="문의: info@devent.kr">
    </dds-footer>
    
    {{> footer}}

    <script>
        // Test Ground

        //getFeed(1)
        getFeeeeeeeeeeed()
        try {
            let token = getToken('user')
            if (checkToken(token)) {
                document.querySelector("#login_box").innerHTML = `<button class="btn btn-red font-weight-md btn-lg px-4 " onclick="logout()"><i class="fas fa-user-minus"></i> 로그아웃</button>`
                document.querySelector("#intro").innerText = '사용자로 로그인 완료'
            }
        } catch (error) {
            
        }

        

        async function getFeeeeeeeeeeed() {
            let data = await getFeedRange(0)

            document.querySelector('#logs').innerHTML = JSON.stringify(data)
        }

        async function appendFeeeeeeeeeeed() {
            await insertFeed(document.querySelector("#exampleFormControlTextarea1").value)

            setTimeout(() => {
                Swal.fire({
                    icon: 'success',
                    title: '피드 작성 완료',
                    showConfirmButton: false,
                    timer: 1000
                })
            }, 300);
        }
    </script>

  </body>
</html>