.color-blue-100 {
    background-color: #dbe9fd;
}

.color-blue-200 {
    background-color: #9ec5fe;
}

.color-blue-800 {
    background-color: #052c65;
}

.color-blue-900 {
    background-color: #031633;
}


.color-gray-100 {
    background-color: #f8f9fa;
}